.backgroundColor {
    background-color: rgb(44, 11, 123);
    color: white;
}

.images {
    height: 250px;
    margin-left: 2%;
}

.ingredients {
    line-height: 2em;
    text-align: left;
    word-wrap: normal;
}

#homeButtonParent {
    text-align: center;
}

#homeButton {
    padding: 5px 15px 5px 15px;
    background-color: cornflowerblue;
    border-width: 0px;
    border-radius: 5px;
}


#homeButton:hover{
    background-color:crimson;
    cursor: pointer;
}